@page "{id:int}"
@model MyCinema.Pages.EditFilmModel
<div class="edit-film">
    <form method="post">
        <p>Poster:</p>
        <input type="text" asp-for="film.Poster"/>
        <p>Title:</p>
        <input type="text" asp-for="film.Title"/>
        <p>Released:</p>
        <input type="text" asp-for="film.Released"/>
        <p>Genre:</p>
        <input type="text" asp-for="film.Genre"/>
        <p>Country:</p>
        <input type="text" asp-for="film.Country"/>
        <p>Director:</p>
        <input type="text" asp-for="film.Director"/>
        <p>Writer:</p>
        <input type="text" asp-for="film.Writer"/>
        <p>Actors:</p>
        <input type="text" asp-for="film.Actors"/>
        <p>Awards:</p>
        <input type="text" asp-for="film.Awards"/>
        <input type="hidden" asp-for="film.Id"/><br/>
        <input type="submit" value="Ok" asp-page-handler="Ok"/>
        <input type="submit" value="Cancel" asp-page-handler="Cancel"/>
    </form>
</div>

