@page "{id:int}"
@model MyCinema.Pages.EditFilmModel
<div class="edit-film">
    <form method="post">
        <input type="text" asp-for="film.Poster"/><br/>
        <input type="text" asp-for="film.Title"/><br/>
        <input type="text" asp-for="film.Released"/><br/>
        <input type="text" asp-for="film.Genre"/><br/>
        <input type="text" asp-for="film.Country"/><br/>
        <input type="text" asp-for="film.Director"/><br/>
        <input type="text" asp-for="film.Writer"/><br/>
        <input type="text" asp-for="film.Actors"/><br/>
        <input type="text" asp-for="film.Awards"/><br/>
        <input type="hidden" asp-for="film.Id" /><br/>
        <input type="submit" value="Ok" asp-page-handler="Ok"/>
        <input type="submit" value="Cancel" asp-page-handler="Cancel"/>
    </form>
</div>

