@page
@model WebApplication2.Pages.Task5_QuotesModel
@{
    ViewData["Title"] = "Quote";
}
<input type="button" id="nextQuote" value="Next quote"/>
<div id="quote">
    <p id="content-quote"></p>
    <p id="autor"></p>
</div>
