@page
@using Microsoft.VisualBasic
@using System.Threading
@model WebApplication2.Pages.Index1Model
@{
    ViewData["Title"] = "Time and Date";
    //string str=DateAndTime.Now.ToLongTimeString();
    // void t(object obj)
    // {
    //     str = DateAndTime.Now.ToLongTimeString();
    //     <text>@str</text><br/>
        
    //} 
    //TimerCallback  tc = new TimerCallback(t);
    //Timer timer = new Timer(tc, null, 0, 1000);
}
<div class="result">
    <h2 id="date-page"></h2>
    <h2 id="time-page"></h2>
    <h2>@DateAndTime.Now.ToLongDateString()</h2>
    <h2 >@DateAndTime.Now.ToLongTimeString()</h2>
</div>

