html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.image-dog {
    width: 250px;
    border-radius: 5px;
    border: 1px solid orange;
}
.content {
    display: flex;
    justify-content: space-evenly;
}
table *{
    padding: 10px;
}
main {
    background-color: aliceblue;
}
.image-edit {
    position: relative;
}
#edit {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
#edit>img {
    height: 100%;
    z-index: 2;
    opacity: 1;
}
#edit:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    opacity: 0.1;
    background-color: black;
}
#edit-user {
    display: none;
}
#edit-user label {
    min-width: 75px;
    margin: 5px;
}
.edit-user > input {
    border: none;
    border-radius: 5px;
    outline-color: bisque;
    margin: 5px;
}
.edit-user > input[type="submit"] {
    width: 150px;
    background-color: darkcyan;
    color: white;
}
.field-validation-error {
    color: #b94a48;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}