@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<TypeSport>
@if (ViewBag.Message != null)
{
    <script>
        window.onload = function() {
            alert("@ViewBag.message");
        };
    </script>
}
<div>
    <h1 class="title">Sport is a lifestyle</h1>
</div>
<div class="services">
    <h2 class="services-title">SERVICES</h2>
    <div class="row">
        @await Html.PartialAsync("ViewServices", Model)
    </div>
</div>
