@using SportSite.Models.Db
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<TypeSport>
@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <div class="card col-12 col-sm-12 col-md-10 col-lg-6 col-xl-5 col-xxl-5 mx-md-auto m-xl-2 m-lg-0 mt-5">
            <a href="#">
                <img class="card-img-top" src="@item.Image" alt="Card image">
                <div class="card-img-overlay">
                    <h2 class="text-purple text-end font-weight-bold">@item.Name</h2>
                </div>
            </a>
        </div>
    }
}
else
{
    <p>Not content</p>
}
