@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Services
<h2 class="text-center">@Model.Name</h2>
@if(User.Identity.IsAuthenticated && Model.IsTypeSport)
{
    <a class="btn btn-info">Training</a>
}
<p>
    <pre class="font-italic font-weight-bold">
         @Model.Details
    </pre>
</p>