@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using System.IO
@using SportSite.Areas.Edit.Componets
<h2>Trainings</h2>
<component type="typeof(Component)" render-mode="ServerPrerendered"/>
@*<div>
    @(await Html.RenderComponentAsync<SportSite.Areas.Edit.Componets.Component>(RenderMode.ServerPrerendered))
</div>*@
