@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="modal-window">
    <div id="details">
        <a href="#" id="close" onclick="closeModalWindow(event)">❌</a>
        <form method="post">
            <label>Login: </label>
            <input type="text" name="login"/><br/><br/>
            <label>Password: </label>
            <input type="text" name="password"/><br/><br/>
            <input type="submit"/>
        </form>
    </div>
</div>
@if (@Model.Client ==null)
{
    <button class="user">👤</button>
}
else
{
    <p class="user">@Model.Client.Login</p>
    <form>
        <input type="hidden" name="handler" value="Exit"/>
        <input type="submit" class="exit" value="Exit"/>
    </form>
}
<div class="content">
    <a href="/ShowCategories?category=Смартфони" ><img src="Images/android.png" class="imgHyperlink" title="Смартфони"/></a>
    <a href="/ShowCategories?category=Ноутбуки"><img src="Images/technology-items (1).png" class="imgHyperlink" title="Ноутбуки"/></a>
    <a href="/ShowCategories?category=Побутова+техніка"><img src="Images/pngtree-fridge-icon-for-your-project-png-image_1520793.jpg" class="imgHyperlink" title="Побутова техніка"/></a>
</div>
