@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="modal-window">
    <div id="details">
        <a href="#" id="close" onclick="closeModalWindow(event)">❌</a>
        <form method="get">
            <label>Login: </label>
            <input type="text" name="login"/><br/><br/>
            <label>Password: </label>
            <input type="text" name="password"/><br/><br/>
            <input type="submit"/>
        </form>
    </div>
</div>
@if (@Model.Client.Login ==null)
{
    <button class="user">👤</button>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img  src="/Images/images.jpg"/>
</div>
